body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px Arial, sans-serif;
	background-image: url("https://i.pinimg.com/originals/f3/b5/50/f3b5502262ec2ed72977887b3dbce36a.jpg");
	background-blend-mode: multiply;
	background-color: #DF9936
}

.container {
	width: 1340px;
	margin: 0 auto;
}

.play-stop-btn {
	text-align: center;
	margin-top: 90px;
}

.play-stop-btn button {
		font-size: 3rem;
		color: #fff;
		padding: 30px;
		background: red;
		box-shadow: -10px 12px 15px black;
		border-radius: 6px;
		transition: transform 0.2s ease;
		outline: none;
}

.play-stop-btn button:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.control-panel {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 90px;
	border: 15px double;
	padding: 200px;
	background: #cf4a45;
	font-size: 2rem;
	font-weight: 800;
	color: #DF9936;
}

.threshold-section, .ratio-section, .make-up-gain-section, 
.attack-section, .release-section {
	display: flex;
	flex-direction: column;
}

.control-panel label {
	text-align: center;
	color: yellow;
}

.control-panel .slider {
	padding: 50px;
	margin: 30px;
}